body {
	margin: 0;
	background: linear-gradient(to bottom right, #d8318a, #5531d8);
}
#container {
}
#loginwindow {
	background-color: white;
	height: 500px;
	width: 450;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
	padding: 25px;
	-webkit-box-shadow: 0px 0px 90px -6px rgba(56,56,56,1);
	-moz-box-shadow: 0px 0px 90px -6px rgba(56,56,56,1);
	box-shadow: 0px 0px 90px -6px rgba(56,56,56,1);
}
#usrname, #pswd {
	margin-top: 10px;
	background-color: #e0e0e0;
	font-size: 24px;
	width: 80%;
	text-align: left;
	font-size: 20px;
	padding: 5px;
	border: none;
	font-family: 'Catamaran', sans-serif;
}
#logbtn {
	margin-top: 10px;
	background-color: #db4c4c;
	font-size: 24px;
	width: 80%;
	text-align: left;
	font-size: 20px;
	padding: 5px;
	border: none;
	color: white;
	text-align: center;
	font-family: 'Catamaran', sans-serif;
}
.inpt {
	margin:auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
::placeholder {
	color: #b2b2b2;
	font-family: 'Catamaran', sans-serif;
}
#logo {
	margin-bottom: 80px;
}
#googlebtn {
	margin-top: 10px;
	background-color: #db4c4c;
	font-size: 24px;
	width: 80%;
	text-align: left;
	font-size: 20px;
	padding: 5px;
	border: none;
	color: white;
	text-align: center;
	font-family: 'Catamaran', sans-serif;
}
#fbbtn {
	margin-top: 10px;
	background-color: #4c89db;
	font-size: 24px;
	width: 80%;
	text-align: left;
	font-size: 20px;
	padding: 5px;
	border: none;
	color: white;
	text-align: center;
	font-family: 'Catamaran', sans-serif;
}